# Python virtual environment
cv_env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large ML files
*.pt
*.pth
*.onnx
*.engine

# Dataset files
*.zip
*.rar
# CV test files
cv/inference/test_data/
cv/models/test.ogv
bus.jpg
runs/
cv/privacy/blurred_test.jpg

# ML datasets
cv/datasets/

# Training outputs
cv/runs/

# Generated CV inspection outputs
cv/inspection_output/
